
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');
body {
  background: linear-gradient(135deg, #f0f0f0, #e0e0e0);
  overflow-x: hidden;
}
.navbar {
    background-color: #343a40;
  }

  .navbar-brand {
    color: #fff !important;
  }
  #nav-profile {
    align-items: center;
    margin: 0;
  }
  #nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .navbar-links {
    display: flex;
    justify-content: space-around;
    width: 50%;
  }

  .navbar-links .navbar-brand {
    margin-right: 5px;
  }

  .navbar-brand img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
.navbar-brand i {
  color: goldenrod;
}
  .navbar-links a {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: lighter;
  }
  .logo-text {
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    background: linear-gradient(45deg, #ff6b6b, #f5af19);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 10px; 
    vertical-align: middle;
  }
.col {
    margin-top: 20px;
    padding: 15px;
}

.card {
    margin-right: 30px;
    margin-bottom: 30px;
    display: flex; /* Enable flexbox for the card */
    flex-direction: column; /* Align children vertically */
}
.list-group-item {
  display: flex; /* Use flexbox to align items */
  align-items: center; /* Center align the items vertically */
}

.card-body {
  flex-grow: 1; /* Allow the body to grow and fill the space */
}