@import url(./global_styles.css);
/*.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #323C4D;
    color: white;
    left: 0;
    bottom: 0;
    width: 100%;
}*/
.footer-icons {
    text-align: center;
    margin: 20px 0;
}

.footer-icons a {
    color: white;
    font-size: 24px;
    margin: 0 15px; /* Add spacing between icons */
    text-decoration: none;
}

.footer-icons a:hover {
    color: blueviolet; /* Add hover effect to change color */
}

.footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    position: relative;
    bottom: 0;
}

.copyright {
    text-align: center;
    padding: 10px 0;
    margin-bottom: 0;
}

.back-to-top {
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.back-to-top:hover {
    color: blueviolet; /* Add hover effect to arrow */
}
.scrolling-text {
    font-size: 24px; /* Adjust the font size as needed */
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #343a40;
    padding: 10px; /* Optional: padding for better appearance */
    text-align: center; /* Center the text */
    border-radius: 5px; /* Optional: rounded corners */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Optional: shadow effect */
}
